In [33]:
if 5 == 15 / 3:
    print ('Hooray!')

Hooray!

In [34]:
if 5 == 19 / 3:
    print('Hooray!')

In [35]:
if  5 != 3 * 6:
    print('Hooray!')

Hooray!

In [36]:
x = 1

if x > 3:
    print('Case 1')
    else
    print('Case 2')

SyntaxError: invalid syntax (Temp/ipykernel_848/1459534166.py, line 5)

In [37]:
x = 1

if x > 3:
    print('Case 1')
    else:
    print('Case 2')

SyntaxError: invalid syntax (Temp/ipykernel_848/1763363697.py, line 5)

In [38]:
x = 1

if x > 3:
    print('Case 1')
else:
    print('Case 2')

Case 2

In [43]:
def compare_to_five(y):
    if y > 5:
        return 'Greater'
    elif y < 0:
        return 'Negative'
    elif y < 5:
        return 'Less'
    else:
        return 'Equal'

In [44]:
print (compare_to_five(-10))

Negative

In [41]:
print(compare_to_five(3))

Less

In [42]:
print(compare_to_five(5))

Equal

In [45]:
x = 2

if x > 4:
    print('Correct')
else:
    print('Incorrect')

Incorrect

In [46]:
def simple():
    print('My first function')

In [47]:
simple()

My first function

In [48]:
def plus_ten(a):
    return a + 10

In [49]:
plus_ten(2)

12

In [50]:
def plus_ten(a):
    result = a + 10
    return result

In [51]:
plus_ten(3)

13

In [52]:
def plus_ten(a):
    result = a + 10
    print('Outcome')
    return result

In [53]:
plus_ten(9)

Outcome

19

In [54]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [55]:
wage(8), with_bonus(8)

(200, 250)

In [56]:
def add_10(m):
    if m >= 100:
        m = m + 10 
        return m
    else:
        return 'Save more'

In [57]:
add_10(110)

120

In [58]:
add_10(90)

'Save more'

In [59]:
def subtrack_bc(a,b,c):
    result = a - b * c
    print('Parameter a equals', a)
    print('Parameter b equals', b)
    print('Parameter c equals', c)
    return result

In [60]:
subtrack_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [61]:
participants = ['John', 'Leila', 'Greogory', 'Cate']
participants

['John', 'Leila', 'Greogory', 'Cate']

In [62]:
participants[3]

'Cate'

In [63]:
participants[3] = 'Maria'
participants

['John', 'Leila', 'Greogory', 'Maria']

In [64]:
del participants[2]
participants

['John', 'Leila', 'Maria']

In [65]:
participants.append('Dwayne')
participants

['John', 'Leila', 'Maria', 'Dwayne']

In [66]:
participants.extend(['George', 'Catherine'])
participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [67]:
print('The first participant is ' + participants[0] + '.')

The first participant is John.

In [68]:
len(participants)

6

In [69]:
participants[1:3]

['Leila', 'Maria']

In [70]:
participants[:2]

['John', 'Leila']

In [71]:
participants[4:]

['George', 'Catherine']

In [73]:
participants[-2:]

['George', 'Catherine']

In [74]:
participants[-4:]

['Maria', 'Dwayne', 'George', 'Catherine']

In [75]:
participants.index('Maria')

2

In [76]:
newcomers = ['Joshua', 'Brittany']
newcomers

['Joshua', 'Brittany']

In [78]:
Bigger_List = [participants, newcomers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [79]:
participants.sort()
participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [80]:
numbers = [1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

In [81]:
numbers.sort()
numbers

[1, 2, 3, 4, 5]

In [82]:
numbers.sort(reverse = True)
numbers

[5, 4, 3, 2, 1]

In [84]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print('Area and Perimeter :')
    return A,P


square_info(9)

Area and Perimeter :

(81, 36)

In [85]:
dict = {'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [86]:
dict["k2"]

'dog'

In [87]:
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [88]:
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [89]:
dep_workers = {'dep1': 'Peter', 'dep2': ['Jennifer', 'Michael', 'Tommy']}
dep_workers

{'dep1': 'Peter', 'dep2': ['Jennifer', 'Michael', 'Tommy']}

In [90]:
dep_workers['dep2']

['Jennifer', 'Michael', 'Tommy']

In [91]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [93]:
for n in even:
    print(n, end = ' ')

0 2 4 6 8 10 12 14 16 18 20

In [94]:
x = 0
while x <= 20:
    print(x, end = ' ')
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [95]:
x = 0
while x <= 20:
    print(x, end = ' ')
    x +=  2

0 2 4 6 8 10 12 14 16 18 20

In [96]:
range(10)

range(0, 10)

In [97]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
list(range(3,7))

[3, 4, 5, 6]

In [100]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [101]:
for n in range(10):
    print(2 ** n, end = ' ')

1 2 4 8 16 32 64 128 256 512

In [102]:
for n in range(20):
    if n % 2 == 0:
        print(n, end = ' ')
    else:
        print('Odd', end = ' ')

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [103]:
x = [1,2,3]

In [104]:
for item in range(len(x)):
    print(x[item], end = ' ')

1 2 3

In [108]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [111]:
list_1 = [1,3,7,15,23,43,56,98,17]

In [112]:
count(list_1)

5

In [113]:
prices = {'box of spaghetti': 4, 'lasagna': 5, 'hamburger': 2}
quantity = {'box of spaghetti': 6, 'lasagna': 10, 'hamburger': 0}

In [114]:
money_spent = 0

for i in prices:
    money_spent += prices[i] * quantity[i]
    
print(money_spent)

74

In [1]:
import math

In [2]:
math.sqrt(39)

6.244997998398398

In [3]:
from math import sqrt
sqrt(25)

5.0

In [4]:
from math import sqrt as s
s(36)

6.0

In [5]:
import math as m
m.sqrt(49)

7.0

In [6]:
from math import *

In [7]:
sqrt(64)

8.0